*{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    background-color: antiquewhite;
}



#pyramid {
    display: block;
    height: auto;
    width: 100%;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

.head {
    font-size: 35px;
    text-align: center;
    background-color: rgb(211, 127, 58);
    margin-top: 20px;
    font-weight: 1000;
    color: rgb(0, 0, 0);
}